#!/bin/bash

# First argument: Client identifier

KEY_DIR=<%= node['gitlab_openvpn']['ca_dir'] %>/keys
OUTPUT_DIR=<%= node['gitlab_openvpn']['conf_dir'] %>/client-configs/files
BASE_CONFIG=<%= node['gitlab_openvpn']['conf_dir'] %>/client-configs/base.conf

cat ${BASE_CONFIG} \
    <(echo -e '<ca>') \
    ${KEY_DIR}/ca.crt \
    <(echo -e '\n</ca>\n<cert>') \
    ${KEY_DIR}/${1}.crt \
    <(echo -e '\n</cert>\n<key>') \
    ${KEY_DIR}/${1}.key \
    <(echo -e '\n</key>\n<tls-auth>') \
    ${KEY_DIR}/ta.key \
    <(echo -e '\n</tls-auth>') \
    > ${OUTPUT_DIR}/${1}.ovpn
